{% extends "templates/base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Welcome to the Online Bookstore</h2>
<p>This is an introductory text for the homepage.</p>
<p><a href="/books">View all books</a></p>
{% endblock %}