{% extends "templates/base.html.twig" %}

{% block title %}Books{% endblock %}

{% block content %}
<h2>Books</h2>
<div class="books">
    {% for book in books %}
    <div class="book-card">
        <h3><a href="/books/{{ book.id }}">{{ book.title }}</a></h3>
        <p>{{ book.description }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}